.resume-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  background-color: #055b56;
  min-height: 100vh;
  padding-bottom: 50%;
}

.resume {
  width: 90vw;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 31px #00000040;
}

.mobile {
  display: block;
}
.desktop {
  display: none;
}

.navbts-hero-container-resume {
  display: flex;
  align-items: flex-end;
}
