.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(white, #93b5b3);
  margin-top: 50px;
}

.resume {
  width: 80vw;
  margin-bottom: 50px;
  border-radius: 5px;
}
