.resume-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: #055b56;
  min-height: 100vh;
}

.resume {
  width: 80vw;
  margin-bottom: 50px;
  border-radius: 5px;
}

.mobile {
  display: block;
}
.desktop {
  display: none;
}

.navbts-hero-container-resume {
  display: flex;
  align-items: flex-end;
}
