@media only screen and (min-width: 768px) {
  .questions-wrapper {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .item {
    margin-right: 25px;
    max-width: 45%;
    max-height: 50px;
    min-height: 50px;
  }

  .item-show {
    margin-right: 25px;
    max-width: 45%;
  }
}
