@media only screen and (min-width: 768px) {
  .hero-container {
    margin-top: 7em;
  }

  .presentation-text-container {
    align-items: flex-start;
  }

  .skills {
    cursor: pointer;
    width: 8em;
    text-align: center;
    border-radius: 5px;
  }

  .skills:first-child {
    cursor: pointer;
    position: absolute;
    left: -36%;
    top: 4%;
    z-index: 0;
    width: 5.5em;
    transform: rotate(-28deg);
    animation: degmove 1s ease-in;
  }

  .navbar-name {
    text-align: start;
    font-size: 4rem;
  }

  .presentation-text {
    font-weight: 100;
    font-size: 2.2rem;
    margin-top: 1rem;
    min-height: 9vh;
  }

  .skill-content {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    width: 60%;
  }
  .arrow-card-container {
    order: 2;

    /* border: 1px solid red; */
  }

  .card-container {
    align-self: flex-end;
    /* border: 1px solid green; */
    margin-bottom: 1.5em;
  }

  .navbts-hero-container {
    flex-direction: row;
    justify-content: center;
    margin-top: 6em;
    align-items: flex-start;
  }

  .to-aboutme-link {
    order: 1;
  }

  .to-project-link {
    margin-right: 1.5em;
  }

  .to-about,
  .to-projects {
    font-size: 1.5rem;
  }

  .to-projects {
    margin: 0;
  }

  .arrow-container {
    margin-right: 5em;
    margin-top: 0;
    align-self: flex-start;
    /* border: 1px solid blue; */
  }

  .arrow-to-skills {
    display: none;
  }

  .arrow-desk {
    display: block;
    height: 13em;
    /* border: 1px solid #121820; */
  }
}
