.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 4em;
  background-color: #055b56;
  min-height: 100vh;
}

.hero-flex-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-name {
  text-align: start;
  font-size: 2rem;
}

.navbar-name:first-child {
  font-weight: 300;
}
.navbar-name:nth-child(n + 2) {
  font-weight: 100;
}

.presentation-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: white;
}

.presentation-text {
  font-weight: 100;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: white;
}

.swith-card {
  color: #affff7;
  font-weight: 300;
  filter: drop-shadow(0.1rem 0.1rem 1rem #78fff1);
}

.dot {
  color: #affff7;
  filter: drop-shadow(0.1rem 0.1rem 1rem #78fff1);
}

.arrow-container {
  /* margin-top: 2.5em; */
  display: flex;
  justify-content: center;
  width: 100%;
}

.arrow-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(12px 4px 9px rgba(0, 0, 0, 0.2));
  padding-bottom: 5em;
}

.arrow-to-skills {
  width: 20%;
  display: none;
}

.arrow-desk {
  display: none;
}

.skill-container {
  display: flex;
  flex-direction: column;
  margin-top: -2.5em;
  height: 100vh;
  align-self: center;
  padding-top: 4em;
}

.card-container {
  position: relative;
}

.skills {
  cursor: pointer;
  width: 5em;
  text-align: center;
  border-radius: 5px;
}

.skills:active {
  cursor: pointer;
}

.skills:first-child {
  cursor: pointer;
  position: absolute;
  left: -51%;
  top: 4%;
  z-index: 0;
  width: 4.5em;
  transform: rotate(-28deg);
  animation: degmove 1s ease-in;
}

.skills:last-child {
  cursor: pointer;
  position: absolute;
  left: -6%;
  z-index: 10;
}

.skills:nth-child(2) {
  cursor: pointer;
  position: absolute;
  left: -6%;
  z-index: -1;
}

.skills:nth-child(3) {
  cursor: pointer;
  position: absolute;
  left: -6%;
  z-index: -1;
}
.skills:nth-child(4) {
  cursor: pointer;
  position: absolute;
  left: -6%;
  z-index: -1;
}
.skills:nth-child(5) {
  cursor: pointer;
  position: absolute;
  left: -6%;
  z-index: -1;
}
.skills:nth-child(6) {
  cursor: pointer;
  position: absolute;
  left: -6%;
  z-index: -1;
}
.skills:nth-child(7) {
  cursor: pointer;
  position: absolute;
  left: -6%;
  z-index: -1;
}
.skills:nth-child(8) {
  cursor: pointer;
  position: absolute;
  left: -6%;
  z-index: -1;
}
.skills:nth-child(9) {
  cursor: pointer;
  position: absolute;
  left: -6%;
  z-index: -1;
}
.skills:nth-child(10) {
  cursor: pointer;
  position: absolute;
  left: -6%;
  z-index: -1;
}

.skillCardClicked:last-child {
  position: absolute;
  left: 42%;
  z-index: -1;
  transition: 0.5s ease-in-out;
  animation: mymove 0.5s ease-in;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}

@keyframes mymove {
  0% {
    left: 0%;
  }

  3% {
    left: 3%;
  }

  5% {
    left: 5%;
  }

  7% {
    left: 7%;
  }

  10% {
    left: 10%;
  }

  12% {
    left: 13%;
  }

  15% {
    left: 15%;
  }

  17% {
    left: 17%;
  }

  20% {
    left: 20%;
  }

  22% {
    left: 30%;
  }

  25% {
    left: 35%;
  }

  27% {
    left: 40%;
  }

  30% {
    left: 45%;
  }

  32% {
    left: 50%;
  }

  35% {
    left: 55%;
  }

  37% {
    left: 60%;
  }

  40% {
    left: 65%;
  }

  42% {
    left: 70%;
  }

  45% {
    left: 75%;
  }
  47% {
    left: 80%;
  }
  50% {
    left: 75%;
  }

  52% {
    left: 70%;
  }

  55% {
    left: 65%;
  }

  57% {
    left: 60%;
  }
  60% {
    left: 55%;
  }

  62% {
    left: 50%;
  }

  65% {
    left: 45%;
  }

  67% {
    left: 43%;
  }
  70% {
    left: 40%;
  }

  72% {
    left: 37%;
  }

  75% {
    left: 35%;
  }

  77% {
    left: 33%;
  }
  80% {
    left: 30%;
  }

  82% {
    left: 28%;
  }

  85% {
    left: 25%;
  }

  87% {
    left: 23%;
  }
  90% {
    left: 20%;
  }

  92% {
    left: 18%;
  }
  95% {
    left: 15%;
  }
  97% {
    left: 13%;
  }
  100% {
    left: 0%;
  }
}

.navbts-hero-container {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  /* margin: 1rem 0 6rem 0; */
  /* z-index: 1; */
  width: 100%;
  justify-content: center;
}

.hero-btn-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between;
  border: 1px solid #ffffff; */
  /* border-radius: 5px; */
  padding: 5px;
  z-index: 1;
}

.to-about {
  margin: 0 0 0 0;
  /* background-color: #93b5b314; */
  display: flex;
  justify-content: center;
}

.to-projects {
  margin: 1em 0 0 0;
  /* background-color: #93b5b3; */
  display: flex;
  justify-content: center;
}

.arrow {
  font-size: 1.5em;
  order: -1;
}

.arrow-up {
  transform: rotate(90deg);
}
.arrow-down {
  transform: rotate(-90deg);
}

.hero-link {
  color: #ffffff;
  text-transform: uppercase;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
}

.to-aboutme-link {
  order: 1;
}
