.background-container {
  /* background-color: linear-gradient(#101822, #000000); */
  background-color: #000000;
}

.contact-section {
  display: flex;
  justify-content: center;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 300;
  color: #ffff;
}
