#projects {
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: linear-gradient(#93b5b3, #101820);
  height: 100vh;
  border: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#projects::-webkit-scrollbar {
  display: none;
}

.project-card-container {
  width: 80vw;
  margin: 0.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  justify-content: space-evenly;
  min-height: 60vh;
  /* background-color: #93b5b338; */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.project-card-container img {
  border-radius: 12.5px;
  padding: 0.5em;
  margin-top: 2em;
  width: 100%;
}

.p-header-container,
.p-discription-container,
.built-with-container,
.project-btns-container {
  width: 100%;
  color: white;
  padding: 0.5em;
}

.project-header {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 0 0.5em 0;
}

.project-discription {
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 300;
}

.built-with-txt {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1em;
}

.project-btns-container {
  display: flex;
}

.project-btn {
  padding: 0.5em 0 0.2em 0;
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 0 1em 0;
}

.test-app-btn {
  border-bottom: 2px solid #93b5b3;
  margin-right: 1em;
}

.test-app-btn {
  border-bottom: 2px solid #93b5b3;
  margin-right: 1em;
}

.see-code-btn {
  background-color: transparent;
  border-bottom: 1px solid #101820;
  margin-left: 1em;
}
