#projects {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  scrollbar-width: none; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#projects::-webkit-scrollbar {
  display: none;
}

.project-card-container {
  width: 80vw;
  margin: 0.5em;
  border-bottom: 0.5px solid #101820;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card-container img {
  width: 80vw;
  border-radius: 5px;
}

.p-header-container,
.p-discription-container,
.built-with-container,
.project-btns-container {
  width: 100%;
}

.project-header {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0.5em 0 0.5em 0;
}

.project-discription {
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 0 0.5em 0;
}

.built-with-txt {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1em;
}

.project-btn {
  padding: 1em 2em;
  border-radius: 5px;
  color: #101820;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.test-app-btn {
  background-color: #93b5b3;

  margin: 0 1em 1em 0;
}

.see-code-btn {
  background-color: transparent;
  border: 1px solid #101820;
}
