#projects {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  background-color: #121820;
  border: none;
  padding-top: 200px;
}

.projectHeader-wrapper {
}

.projectHeader {
  border-radius: 5px;
  color: #affff7;
  font-size: 4rem;
  padding: 10px 20px;
  text-shadow: 30px 30px 100px, 0 0 20px;
  text-transform: uppercase;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  box-shadow: 10px 5px 1px black;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  overflow: auto;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.project-card-container {
  width: 80%;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  min-height: 60vh;
  margin: 40px 0.5em 0.5em;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.project-card-container img {
  border-radius: 12.5px;
  border: solid 1px;
  width: 100%;
  filter: drop-shadow(2px 4px 6px black);
}

.p-discription-container {
  min-height: 5em;
}

.p-header-container,
.p-discription-container,
.built-with-container,
.project-btns-container {
  width: 100%;
  color: white;
  padding: 0.5em;
}

.project-header {
  font-size: 2.5rem;
  font-weight: 400;
  min-height: 3em;
  max-height: 3em;
}

.project-discription {
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 300;
}

.built-with-txt {
  font-size: 1.8rem;
  font-weight: 400;
}

.lang-img {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
}

.lang-img svg {
  color: white;
  margin-right: 1em;
  font-size: 3rem;
}

.project-btns-container {
  display: flex;
  align-items: flex-end;
}

.project-btn {
  padding: 0.5em 0 0.2em 0;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0 0 1em 0;
}

.see-code-btn {
  background-color: transparent;
  margin-left: 1em;
}
