.footer-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 15vh;
}

.img-container {
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-img {
  width: 4em;

  left: 0;
  align-self: flex-end;
}

.text-ul {
  display: flex;
  font-size: 1.2rem;
}

.text-ul li {
  margin: 5px;
  font-weight: 100;
  list-style: none;
  color: white;
}
