@media only screen and (min-width: 768px) {
  .footer-img {
    width: 8em;
  }

  .text-ul {
    font-size: 1.5rem;
  }

  .text-ul li {
    margin: 15px;
  }

  .text-ul > a:hover {
    text-decoration: underline;
    transition: 0.2s ease-in-out;
    text-decoration-color: white;
    text-underline-offset: 0.5rem;
  }
}
