* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

/*--------NAVBAR--------*/
.navbar {
  width: 100vw;
  border: 1px solid red;
  height: 35vh;
  display: flex;
}

.navbar-img {
  align-self: flex-end;
  width: 10em;
}

.name-nav-options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.navbar-name-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.nav-menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-menu {
  position: fixed;
  right: 0;
  width: 67vw;
  height: 60vh;
  background-color: #93b5b3;
  transform: translateX(100%);
  transition: 0.5s ease-in;
}

.nav-menu li {
  display: none;
}

.nav-toggler {
  display: block;
  margin: 2em;
}

.nav-toggler div {
  width: 5rem;
  height: 0.2rem;
  margin: 0.8rem;
  background-color: #121820;
  transition: 0.2s ease-in;
  z-index: 10;
}

.nav-active {
  transform: translateX(0);
  box-shadow: 1px 1px 10px 0.5px #121820;
  border-radius: 0 0 5px 0;
}

.nav-active li {
  display: block;
}

.nav-active li:first-child {
  margin: 10rem 5rem 1rem 5rem;
}

.nav-active li:nth-child(n + 2) {
  margin: 1rem 5rem 1rem 5rem;
}

.toggle .line1 {
  transform: rotate(-45deg);
  position: absolute;
  background-color: #121820;
  top: 37px;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg);
  position: absolute;
  background-color: #121820;
  right: 30.5px;
  top: 37px;
}

.nav-txt-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-txt {
  color: #93b5b3;
  font-size: 1.5em;
  text-align: center;
  font-weight: 900;
}

@media only screen and (min-width: 768px) {
  .nav-toggler {
    display: none;
  }

  .nav-menu {
    display: flex;
    top: 0;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0);
    transform: translate(0%);
    transition: none;
  }

  .nav-menu li {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-img {
    width: 10%;
  }

  .nav-txt {
    font-size: 1.5em;
  }
}

/*--------HERO--------*/

.hero-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-intro-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.hero-intro-txt {
  text-align: left;
  font-size: 1.2rem;
}
.pg-lang-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 30rem;
}
.pg-lang {
  width: 2em;
  margin: 1em;
}

.project-img {
  width: 2em;
  margin: 1em;
}

.pg-lang-scale {
  width: 2em;
  margin: 1em;
  animation: scale 300ms ease-in-out;
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.box-con {
  width: 100%;
  height: 40%;
  z-index: -2;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  position: relative;
}

.green-box {
  width: 80%;
  height: 40vh;

  background-color: #93b5b3;
  border-radius: 0 5px 0 0;
  position: absolute;
  left: -40%;

  z-index: -1;
  border: 1px solid #121820;
}

.content-green-box-con {
  width: 100vw;
  display: flex;
  align-items: flex-end;
}

.me {
  width: 10em;
  z-index: 99;
  align-self: flex-end;
}

.nav-text-btn {
  font-weight: 900;
  margin: 0 0 2em 0;
  padding: 2em;
  font-size: 1.2rem;
}

.change-lang-btn {
  padding: 10px;
}

.btn-container {
  width: 100vw;
}

.btn-hero {
  width: 100%;
  z-index: 99;
  font-size: 1.2rem;
  padding: 3rem;
  border: 0.5px solid #93b5b3;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  background-color: #121820;
  color: #93b5b3;
}

@media only screen and (min-width: 768px) {
  .btn-container {
    display: flex;
  }
  .btn-hero {
    width: 25vw;
    font-size: 1.2rem;
    padding: 4.5rem;
  }

  .me {
    width: 10em;
    z-index: 99;
    align-self: flex-end;
    margin-right: 1em;
  }
}

/* MAIN */

.main-wrapper {
  margin: 5em;
  font-size: 1.2rem;
}

h2 {
  margin: 2em 0em 0.5em 0em;
}

.link-to-p {
  display: block;
  margin: 1em 0;
}
