* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

/*--------NAVBAR--------*/
.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  overflow: hidden;
}

.navbar-img {
  width: 150vw;
}

.nav-txt-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-txt {
  color: #93b5b3;
  font-size: 1.5em;
  text-align: center;
  font-weight: 900;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    margin-top: 2vh;
  }
  .navbar-img {
    width: 60vw;
  }

  .nav-txt {
    font-size: 1.5em;
  }
}

/*--------HERO--------*/

.hero-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.hero-intro-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  height: 40%;
}

.hero-intro-txt {
  text-align: left;
}
.pg-lang-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 30rem;
}
.pg-lang {
  width: 2em;
  margin: 1em;
}

.box-con {
  width: 100%;
  height: 40%;
  z-index: -2;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  position: relative;
}

.green-box {
  width: 100%;
  height: 40vh;
  transform: skew(40deg) rotate(2deg);
  background-color: #93b5b3;
  position: absolute;
  left: -40%;
  top: 1em;
  z-index: -1;
}

.content-green-box-con {
  width: 100vw;
  display: flex;
}

.me {
  width: 10em;
  z-index: 99;
  align-self: flex-end;
  /* margin-right: 0.5em; */
}

.nav-text-btn {
  align-self: center;
  font-weight: 900;
}

.btn-container {
  width: 100vw;
  height: 20%;
}

.btn-hero {
  width: 100%;
  z-index: 99;
  font-size: 1.5em;
  padding: 3rem;
  border: 0.5px solid #93b5b3;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  background-color: #121820;
  color: #93b5b3;
}

@media only screen and (min-width: 414px) {
  .nav-text-btn {
    top: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .btn-container {
    display: flex;
  }
  .btn-hero {
    width: 25vw;
    font-size: 1em;
    padding: 1rem;
  }

  .me {
    width: 10em;
    z-index: 99;
    align-self: flex-end;
    margin-right: 1em;
  }

  .nav-text-btn {
    left: 15em;
    top: 50%;
  }
}
