* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

/*--------NAVBAR--------*/

.switchLang-btn-active {
  border: 1px solid #93b5b3;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  margin: 3rem 5rem 1rem 5rem;
  text-align: center;
  height: 2.5em;
  width: 11em;
  cursor: pointer;
  font-size: 1rem;
}

.switchLang-btn-noshow {
  display: none;
}

.navbar {
  width: 100vw;
  display: flex;
}

.navbar-img {
  align-self: flex-end;
  width: 10em;
}

.active-navbar-img {
  width: 8em;
  margin: 1rem 0em 0em 0em;
}

.img-underline {
  width: 90%;
  border-bottom: 1px solid #121820;
}

.img-underline-active {
  width: 90%;
  border-bottom: 3px solid #fff;
}

.name-nav-options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.navbar-name-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-weight: 400;
}

.navbar-name {
  font-size: 1.3em;
}

.navbar-name:first-child {
  font-weight: 300;
}
.navbar-name:nth-child(n + 2) {
  font-weight: 100;
}

.nav-menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-menu {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #121820;
  transform: translateX(100%);
  transition: 0.5s ease-in;
  text-transform: uppercase;
  font-size: 1rem;
  overflow: scroll;
}

.nav-menu li {
  display: none;
}

.nav-toggler {
  display: block;
  margin: 2em;
  cursor: pointer;
}

.nav-toggler div {
  width: 5rem;
  height: 0.2rem;
  margin: 0.8rem;
  background-color: #121820;
  transition: 0.2s ease-in-out;
  z-index: 10;
}

.nav-active {
  transform: translateX(0);
  /* overflow: scroll; */
}

.nav-active li {
  display: block;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.nav-active li:first-child {
  margin: 10rem 5rem 1rem 5rem;
}

.nav-active li:nth-child(n + 2) {
  margin: 3rem 5rem 1rem 5rem;
}

.some-con {
  display: flex;
  justify-content: flex-end;
  margin: 5em 5em 0 0;
}
.some-con img:first-child {
  margin-right: 2em;
}

.some-con img {
  width: 4em;
}

.toggle .line1 {
  transform: rotate(-45deg);
  position: absolute;
  background-color: #121820;
  top: 37px;
  background-color: #fff;
}
.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg);
  position: absolute;
  background-color: #121820;
  right: 30.5px;
  top: 37px;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .nav-toggler {
    display: none;
  }

  .nav-menu {
    display: flex;
    top: 0;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0);
    transform: translate(0%);
    transition: none;
    height: 0;
    margin-top: 2em;
    width: 60vw;
  }

  .switchLang-btn-active {
    color: #121820;
    margin: -0.5rem 5rem 0 3rem;
  }

  .switchLang-btn-noshow {
    display: block;
    border: 1px solid #93b5b3;
    border-radius: 5px;
    background-color: transparent;
    color: #121820;
    margin: -0.5rem 5rem 0 3rem;
    text-align: center;
    height: 2.5em;
    width: 11em;
    cursor: pointer;
    font-size: 1rem;
  }

  .switchLang-btn-active:hover,
  .switchLang-btn-noshow:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    background-color: #121820;
    color: #93b5b3;
  }

  .switchLang-btn-active:active,
  .switchLang-btn-noshow:active {
    transform: scale(1);
    transition: 0.2s ease-in-out;
  }

  .nav-menu li {
    display: block;
    cursor: pointer;
  }

  .nav-active li:nth-child(-n + 3) {
    margin: 3rem 5rem 1rem 3rem;
  }

  .navbar-img {
    width: 15em;
  }

  .navbar-name {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-txt {
    font-size: 1.5em;
  }
}

/*--------HERO--------*/

.presentation-text-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.presentation-text {
  font-weight: 100;
  width: 82%;
  margin-top: 1rem;
  /* margin-left: 10em; */
}

@media only screen and (min-width: 768px) {
  .presentation-text-container {
    width: 100vw;
    display: block;
  }
  .presentation-text {
    margin-left: 15em;
    width: 50%;
  }
}

/* MAIN */

.main-wrapper {
  margin: 5em;
  font-size: 1.2rem;
}

h2 {
  margin: 2em 0em 0.5em 0em;
}

.link-to-p {
  display: block;
  margin: 1em 0;
}
